<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  <body>

    <div class="container">

      <div class="menu">

      </div>

      <div class="header">
        <h1>HIIT Workout Timer</h1>
      </div>

      <div class="row justify-content-center">

        <div class="header col-12">
            <h3>{{ title }}</h3>
        </div>

        <div class="">
          <workout-input></workout-input>
        </div>

      </div>

      <div class="row justify-content-center">
        <div id="timer"></div>
        <div id="exerciseName"></div>
        <div id="totalTimer"></div>
      </div>

    </div>







    <script type="text/x-template" id="workout-input-template">
      <form id="createWorkout" name="createWorkout" class="" action="" >
        <div class="workoutForm" id="exercises">
          <exercise-input ref="exerciseinput"></exercise-input>
        </div>

        <div class="form-row workoutForm" id="workoutAdds">
          <div class="updateEx"><button id="exerciseBtn" @click="addExercise" type="button" class="btn btn-primary" data-toggle="button">Exercise</button></div>
          <div class="updateEx"><button id="restBtn" type="button" class="btn btn-warning" data-toggle="button">Rest</button></div>
          <div class="updateEx"><input name="reps" id="reps" type="number" class="form-control" placeholder="# of Reps"></div>
        </div>

        <div class="form-row workoutForm submitBtn">
          <button id="startTimer" @click="startTimer" type="submit" class="btn btn-outline-success btn-lg">Start Timer</button>
        </div>
      </form>
    </script>
    <script type="text/x-template" id="exercise-input-template">
      <div class="exerciseRow">
        <div v-for="(exercise, index) in exercises" class="form-row alert alert-primary exerciseInput">
          <div class="col-7">
            <input type="text" v-model="exercise.name" class="form-control" placeholder="Exercise">
          </div>
          <div class="col-4">
            <input type="number" v-model="exercise.time" class="form-control" placeholder="Time (secs)">
          </div>
          <div class="col-1">
            <div class="center deleteRow" @click="removeExercise(index)"><img class="icon" src="../static/images/remove_icon.png"/></div>
          </div>
        </div>
      </div>
    </script>

    <!-- VueJS development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="../static/js/builder.js"></script>

  </body>
</html>
