.pageStyle {
  background: rgba(39,39,39,1);
  font-family: 'Verdana', sans-serif;
  color: rgba(39,39,39,.5);
}

.fullspan {
  width: 100%;
  text-align: center;
}

.header {
  text-align: center;
  color: rgba(255,255,255,.75);
}

/* Workout Form Styling */

h2 {
  text-align: center;
}

.exerciseInput {
  margin-bottom: 0;
}

#workoutAdds {
  width: 100%;
  margin: 15px 6px;
}

.updateEx {
  width: 33.333%;
}

.manipulateExBtns{
  width: 90%;
}

.exerciseRow {
  display:inherit;
}

.submitBtn button{
  width: 60%;
  margin: auto;
  display: block;
}

.icon {
  width: 15px;
  height: 15px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




/* Timer Styling */
.timerDiv {
  padding-left: 0;
}

.wrapper {
  display: flex;
}

#exerciseName {
  border-bottom: 5px solid rgba(0,0,0,.5);
  background: #FFE400;
  color: rgba(0,0,0,.75);
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#exerciseTimer {
  border-bottom: 5px solid rgba(0,0,0,.5);
  background: #9CF;
  color: #036;
  font-size: 75px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bottomRow {
  font-size: 20px
}

.bottomRowComp {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.playButton {
}

.alterTimerBtns {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: xx-large;
  width: 15%;
}

.totalsBoxes {
  background: #474747;
  color: rgba(255,255,255,.75)
}

.timerNumbers {
  font-family: 'DejaVu Sans Mono', monospace
}

#repNo {
  width: 15%
}

#totalTimer {
  width: 55%
}

#playPause {

}

#cancel {
  background: #FF652F;
  color: rgba(0,0,0,.5);
}
